.plot {
  height: 80vh;
}

.header {
  font-size: 3rem;
  height: 60px;
  color: #2c2c2c;
  letter-spacing: -0.05em;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  line-height: 25px;
  justify-content: center;
  font-family: 'Arial Narrow', sans-serif;
  padding: 1rem;
}

.plot_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}