.marker {
  background-image: url('/public/marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  fill: black;
}

.map {
  width: 100%;
  height: 100%;
}

.map_container{
  height: 90%;
  width: 100%;
  flex: 1 0 auto;

  canvas {
    height: 100% !important;
  }
}

.header {
  z-index: 10;
  float: left;
  position: absolute;
  font-size: 3rem;
  height: 70px;
  color: #2c2c2c;
  letter-spacing: -0.05em;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  line-height: 25px;
  justify-content: center;
  font-family: 'Arial Narrow', sans-serif;
  padding: 1rem;
  max-width: 100vw;
  font-weight: 700;
  background-color: white;
}

